h1{
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    text-align: center;
}
ul{
    background-color: darkgray;
    font-style: italic;
    line-height: 40px;
    text-decoration: underline;
}

.fundo{
    background-color: darkgray;
}
p{
    font-weight: 600;
    font-size: 3em;
    text-align: center;
}
body{
    font-size: 16px;
}